.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  border-right: 1px solid #000;
  padding-top:10px;
  padding-left: 0;
  padding-right: 0;
}


html, body, .container-fluid, .row, #map {
  width: 100%;
  height: 100%;
}

.remove-padding {
  padding-left: 0;
  padding-right: 0;
}

.remove-margin {
  margin-left: 0;
  margin-right: 0;
}

.alert.alert-danger {
  margin-bottom: 5px;
}

.infowindow-title {
  font-weight: bold;
}

.list-group-item {
  cursor: pointer;
}

.form-inline {
  margin-bottom: 5px;
}

.form-inline, .list-group {
  margin-left: 5px;
  margin-right: 5px;
}
